<% @contributors.each do |contributor| %>
  <div class="container text-center">

    <div class="row justify-content-center">
      <div class="col-5">
        <div class="card text-dark mb-3">

          <%= link_to contributor.name, contributor,
          class: "card-header h3 text-decoration-none text-primary" %>

          <div class="card-body">
            <h5 class="card-title">
              <%= contributor.role %>
            </h5>
            <p class="card-text">
              <%= contributor.intro %>
            </p>
          </div>

          <div class="card-footer text-muted">
            <%= time_ago_in_words(contributor.created_at).capitalize %> ago.
          </div>
          
        </div>
      </div>
    </div>
  </div>
<% end %>
